.header li {
  margin: 0 1rem;
  width: 5rem;
}
.header a {
  color: white;
  text-decoration: none;
}

.hedear a:hover,
.header a:active,
.header a.active {
  color: green;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid green;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
